{% extends 'base.html' %}

{% block body %}

<!-- to be filled by the Python script -->
<h1>{{ the_title }}</h1>

<!-- note how items from the "static" folder are linked -->
<img alt="Photo: Bengal Tiger" src="https://assets.website-files.com/5ff66329429d880392f6cba2/61c323afb777801522775611_CRUD%20%20Preview.png">
<p class="credit">
  <a href="https://assets.website-files.com/5ff66329429d880392f6cba2/61c323afb777801522775611_CRUD%20%20Preview.png" target="_blank">Image</a>
</p>

<p>Select your operation</p>
<div class="flex-con">
  <a href="{{ url_for('index') }}" class="button">Create</a>
  <a href="{{ url_for('read') }}" class="button">Read</a>
  <a href="{{ url_for('update') }}" class="button">Update</a>
  <a href="{{ url_for('index') }}" class="button">Delete</a>
</div>
<ul>
  <!-- note how items from routes in the the Python script are linked -->
  <li><a href="{{ url_for('myth') }}">In myth and legend</a></li>
  <li><a href="{{ url_for('symbol') }}">As a symbol</a></li>
</ul>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    
      {% if category == 'success' %}
        <div class="success-record"><i class="fas fa-check-circle"></i> {{ message }}</div>
      {% elif category == 'error' %}
        <div class="error-record"><i class="fas fa-exclamation-circle"></i> {{ message }}</div>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form action="{{ url_for('submit_data') }}" method="post">
  <div class="form-group">
    <label for="user-name">Name</label>
    <input type="text" class="form-control" name='user-name' placeholder="Name">
  </div>
  <div class="form-group">
    <label for="user-email">Email address</label>
    <input type="email" class="form-control" name="user-email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

<button type="submit" class="btn-submit">Submit</button>

  
</form>


<p>(Text from <a href="https://en.wikipedia.org/wiki/Tiger" target="_blank">Wikipedia</a>)</p>


{% endblock %}
