{% extends 'base.html' %}
{% block body %}

<h1>{{ the_title }}</h1>

<p style="font-size:50px;">Enter name of created data!</p>

<form action="{{ url_for('read_data') }}" method="post">
    <div class="form-group">
      <label for="user-name">Name</label>
      
      <input type="text" class="form-control" name='user-name' placeholder="Name">
      <p style="font-size:14px;">(Type * if you want all records) </p>
    </div>
    
  
  <button onclick="loadData()" type="submit" class="btn-submit">Submit</button>
  
  
    
  </form>
<script>
function loadData() {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/data");
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
        // Update the page with the new data
        document.getElementById("data-area").innerHTML = xhr.responseText;
      }
    };
    xhr.send();
  }
  </script>

<div id="data-area">
  {% if name=='*' %}
    {% for i in tuple %}
      <li>{{ i }}</li>
    {% endfor %}
  {% else %}
    <p>ID: {{ tuple[0] }}</p>
    <p>Name: {{ tuple[1] }}</p>
    <p>Email: {{ tuple[2] }}</p>
  {% endif %}

        
  

  

</div>

<form action="/update" method="post">
  <button type="update" class="btn-submit">Update</button>

</form>

  





{% endblock %}
